<p id="notice"><%= notice %></p>
<p><b>Aircrafts In This Queue:</b></p>
<% @airqueue.aircrafts.each do |aircraft| %>
  <%= link_to aircraft.id, aircraft %>
  <%= aircraft.category %>
  <%= aircraft.size %>
  <p>
<% end %>

<%= button_to "dequeue_one", {action: "dequeue_one", :airqueue_id => @airqueue.id} %>
<br>
<%= link_to 'Back', airqueues_path %>
